NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_RESERVATION_BUCKET=reservation-images
NEXT_PUBLIC_APP_URL=https://clinic-tsukisoi.jp
NEXT_PUBLIC_LINE_LIFF_ID=
NEXT_PUBLIC_LINE_FRIEND_URL=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
